:root {
  --dark-01: #12132d;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

.font-mulish {
  font-family: "Mulish", sans-serif;
}

.text-gradient {
  background: linear-gradient(45deg, #797dfc, #797dfc00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner {
  background: url(./images/bgbanner.png);
  background-color: rgb(18, 19, 45);
  background-repeat: no-repeat;
  background-size: cover;
}
